# Dépendances
node_modules/

# Base de données locale (SQLite - seulement pour les tests)
# *.db
*.db-journal
# prisma/*.db

# Logs
*.log
npm-debug.log*

# Variables d'environnement (NE JAMAIS commettre le vrai fichier)
.env
.env.local
.env.production

# Cache / build
.cache/
.DS_Store
Thumbs.db

# Cloudflared (outil de test local)
cloudflared
